// bower:scss
// endbower

// fornac css
@import 'fornac';

// import the source code pro font from google fonts
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,200);

// create a single page app
// use flexbox for the layout
html, body {
  height: 100%;
}

body {
  display: flex;
  background: linear-gradient(135deg,  #8fc6c8 0%,#1b4a57 100%); /* W3C */
  margin: 0 8px;
  font-family: "Source Code Pro";
  font-weight: 100;

  div[ng-view] {
    display: flex;
    flex-direction: column;
    flex: 1;
    user-select: none;

    header {
      color: white;
      padding: 20px 0;
      font-size: 15px;
    }

    sequence {
      display: flex;
      justify-content: space-between;

      nucleotide {
        flex: 1;
        text-align: center;
        font-size: 1em;
        padding-right: 0 2px;
        color: black;
        cursor: pointer;

        &:not(last-of-type){
          margin-right: 1px;
        }
        
        &:hover {
          color: white;
        }

        &.uncomplimentary {
          opacity: .2; 
        }

        &.unhighlighted {
          opacity: .3;
        }

        .construct {
          background: #333;
          color: #aaa;
        }
      }
    }

    visualization {
      position: absolute;
      top: 100px; right: 0; bottom: 0; left: 0;
      outline: none;

      svg {
        fill: rgba(0,0,0,0);
      }
    }
  }
}

// DYNAMIC FONTS -------------------------------
// these fonts are updated dynamically via the Configurator directive
// stored in the Configuration service
// and watched and updated by the Visualization directive
.arial {
  font-family: "Arial";
}
.courier {
  font-family: "Courier";
}
.helvetica {
  font-family: "Helvetica";
}
.source_code_pro {
  font-family: "Source Code Pro";
}
.times {
  font-family: "Times";
}

// CONTROL PANEL --------------------------------
// position the DAT.gui control panel
.dg.ac {
  top: 100px !important;
  right: -5px !important;
}
