<!-- the header -->
<header>DNA SECONDARY STRUCTURE</header>

<!-- the configurator directive -->
<!-- allows the user to update base colors, radius, font and line width -->
<!-- communicates changes to the Configuration service for communication to other directives -->
<configurator></configurator>

<!-- the sequence directive -->
<!-- displays the sequence and structure -->
<sequence></sequence>

<!-- the visualization directive -->
<!-- displays the 2D visualization -->
<visualization></visualization>